/* reset */
* {
	margin: 0; padding: 0; box-sizing: border-box;
}

html, body { height: 100%; }

body { font: 16px Helvetica, Arial; }

main { 
	display: flex;
	height: 100%;
	flex-direction: row;
}
.form-container, .messages { padding: 20px; }
.form-container { 
	flex: 1; 
	border: 6px solid #bfcfd6;
	background-color: #e3edf1;

	label { display: block; margin-bottom: 0.5rem; }
}

.messages { 
	flex: 2;
	background-color: #eee;
	border: 6px solid #e2e0e0; 
}

input, textarea { 
	display: block; 
	width: 100%;
	border: 2px solid #bfcfd6;
	//border-color: #bfcfd6; 
	border-radius: 4px; 
	font-size: 0.8rem; 
	padding: 0.4rem; 
	border-style: solid;
}

textarea { height: 135px; }



form {
	//background: #000;
	padding: 3px;
	margin: 12px auto;

	input[type=submit] { 
		width: auto; 
		padding: 10px; 
		background-color: rgb(75, 200, 17);
		margin-top: 1rem; 
		border-radius: 8px;
		color: white;
		cursor: pointer;
		text-transform: uppercase;
		font-weight: bold;
	}
}

#messages {
	list-style-type: none; margin: 0; padding: 0;

	li { padding: 5px 10px;	}
	li:nth-child(odd) { background: #eee; }
}

.Screen{
    position: absolute;
    z-index: 99;
    width: 100%;
    height: 100%;
    background-color: white;
    text-align: center;
    opacity: .8;

    transition: all .2s ease;

    .login{
        width: 100%;

        position: absolute;
        top: 50%;
        left: 0;
        transform: translateY(-50%);
    }
    
    h1{
        font-size: 36px;
    }
    p{
        font-size: 20px;
        margin-top: 30px;
    }

    form{
        
        margin-top: 30px;
        display: flex;
        flex-direction: column;
        .nickname{
            font-family: 'Sen', sans-serif;
            border: none;
            border-bottom: solid 2px black;
            margin: 20px 27%;
            padding: 6px 10px;
            font-size: 22px;
            text-align: center;
        }

        .sent{
            font-family: 'Sen', sans-serif;
            width: 120px;
            padding: 10px 10px;
            background: rgba(0,0,0,0);
            border: none;
            border: solid 1px black;
            border-radius: 10px;
            margin: 0 auto;
            cursor: pointer;
        }
    }
}

.hide{
    opacity: 0;
    pointer-events: none;
}

// imports

@import 'modules/_message';
