  <!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>Socket IO Chat with Node!</title>
	<link rel="stylesheet" href="css/main.css">
	<script src="https://unpkg.com/vue"></script>
</head>

<body>
	<main id="app">

		<!--login screen-->

		<div class="Screen">
			<div class="login">
				<h1>Let's start chatting</h1>
				<p>Please add your name to send messages to others</p>
				<form class="Form">
					<label for="nickname">Who's using this awesome chatapp</label>
					<input v-model="nickname" type="text" id="nickname" class="nickname" placeholder="What is your nickname?">
					<button @click.prevent="dispatchMessage" type="submit"  class="sent"></button>
				</form>
			</div>
		</div>
		<!-- <section class="form-container"> -->
			

			<form class="Messages-Form">
				<label for="message">Something to say?</label>
				<textarea v-model="message" class="message" type="text" autocomplete="off" id="textarea"></textarea>
				<input @click.prevent="dispatchMessage" type="submit" class="sub">
			</form>
		<!-- </section> -->

		<section class="messages">
			<ul id="messages">
				<!-- render a new message component for every message -->
				<newmessage v-for="message in messages":msg="message"></newmessage>
			</ul>
		</section>
	</main>
	<script src="/socket.io/socket.io.js"></script>
	<script type="module" src="js/main_vm.js"></script>
</body>

</html>